body,
#container,
.dk-layout {
    background-color: #efefef;
}

.dk-layout-footer {
    position  : absolute;
    bottom    : 0;
    width     : 100%;
    background: #efefef;
    padding   : 0.2rem 1rem;
}

.dk-grid-row {
    margin: 0;
}

.dk-layout {
    background-color: #efefef;
    width           : 100%;
}

.dk-layout-header {
    padding-left: 1rem;
    text-align  : center;
    height      : auto;
    line-height : initial;
}

.dk-layout-content {
    padding: 2rem 1rem;
}

div.link {
    height     : 40px;
    padding-top: 2px;
    display    : flex;
    height     : auto;
}

div.link a {
    vertical-align: middle;
}

div.link a p {
    padding: 5px;
    display: inline-block;
}

.dk-layout-header a {
    margin-left       : 6px;
    text-decoration   : none;
    font-size         : 0.8rem;
    font-weight       : bold;
    padding           : 3% 0;
    color             : #666;
    /* display        : flex; */
}

.dk-form-item-control input[type=submit] {
    float: right;
}

div.link a.active {
    border-bottom: 3px solid #2C7BE5;
}

.dk-layout-header img {
    margin: auto;
}

.logo {
    display: flex;
}

.instanceURL,
.instanceURL input,
.instanceURL select {
    width: 100%;
}

/*
LOGIN
*/
.login {
    padding: 0rem 2rem;
}

.login h5 {
    margin: 0 0 2rem 0;
}

.login .dk-form-item {
    display: block;
}

.login .dk-form-item-label {
    width  : auto;
    height : auto;
    padding: 0;
}

.login .dk-form-item-label-right {
    justify-content: left;
    font-weight    : bold;
    font-size      : 0.8rem;
    padding-bottom : 4px;
}

.login .dk-input,
.login .dk-input-wrapper {
    width: 100%;
}

.login .pass-label {
    margin-left: 8px;
    font-weight: bold;
}

.login .pass-remind {
    margin-bottom: 6px;
    float        : right;
    text-align   : right;
    margin-right : 12px;
}

.login .checkbox {
    display   : flex;
    float     : right;
    margin-top: -20px;
}

.login .right .dk-form-item-control {
    float: right;
}

.error {
    color: red
}

/*

.hader div {
        padding-left: 0 !important;
   }
.header div label {
    display: inline-flex;
}
.header div label a {
    margin-left    : 6px;
    text-decoration: none;
    font-size      : 0.8rem;
    font-weight    : bold;
    padding        : 3% 0;
}
.header div label a:link, 
.header div label a:visited {
    color: #666
}      
*/

.dk-form-item {
    margin: 0
}

.login .dk-form-item {
    margin-bottom: 0 !important;
    margin-top   : 24px;
}

.float-left {
    float: left;
}

.float-right {
    float: right
}

/* ACCOUNT */
.account .dk-card-header,
.settings .dk-card-header {
    padding: 8px;
}

.account .list-group-lg li,
.settings .list-group-lg li {
    padding-bottom: 6px;
    list-style    : none;
    border-bottom : 1px solid #d2ddec;
}

.account .dk-card-body,
.settings .dk-card-body {
    padding: 16px 10px !important;
}

.logout button {
    width      : auto;
    height     : 28px;
    padding-top: 0;
}

.settings {
    margin-top: 20px;
}

.settings .dk-radio-group-item {
    margin-left : 16px;
    display     : inline-flex;
    margin-right: 2px !important;
}

.schema-title .dk-form-item-label {
    white-space: nowrap;
}