body,
#container,
.dk-layout {
    background-color: #efefef;
}

.dk-layout-footer {
    position  : absolute;
    bottom    : 0;
    width     : 100%;
    background: #efefef;
    padding   : 0.2rem 1rem;
}

.dk-grid-row {
    margin: 0;
}

.dk-layout {
    background-color: #efefef;
    width           : 100%;
}

.dk-layout-header {
    padding-left: 1rem;
    text-align  : center;
    height      : auto;
    line-height : initial;
}

.dk-layout-content {
    padding: 2rem 1rem;
}

div.link {
    height     : 40px;
    padding-top: 2px;
    display    : flex;
    height     : auto;
}

div.link a {
    vertical-align: middle;
}

div.link a p {
    padding: 5px;
    display: inline-block;
}

.dk-layout-header a {
    margin-left       : 6px;
    text-decoration   : none;
    font-size         : 0.8rem;
    font-weight       : bold;
    padding           : 3% 0;
    color             : #666;
    /* display        : flex; */
}

.dk-form-item-control input[type=submit] {
    float: right;
}

div.link a.active {
    border-bottom: 3px solid #2C7BE5;
}

.dk-layout-header img {
    margin: auto;
}

.logo {
    display: flex;
}

.instanceURL,
.instanceURL input,
.instanceURL select {
    width: 100%;
}

/*
LOGIN
*/
.form {
    padding: 0rem 1rem;
}

.form h5 {
    margin: 0 0 2rem 0;
}

.form .dk-form-item {
    display: block;
}

.form .dk-form-item-label {
    width  : auto;
    height : auto;
    padding: 0;
}

.form .dk-form-item-label-right {
    justify-content: left;
    font-weight    : bold;
    font-size      : 0.8rem;
    padding-bottom : 8px;
}

.form .dk-input,
.form .dk-input-wrapper {
    width: 100%;
}

.form .pass-label {
    margin-left: 8px;
    font-weight: bold;
}

.form .pass-remind {
    margin-bottom: 6px;
    float        : right;
    text-align   : right;
    margin-right : 12px;
}

.form .checkbox {
    display   : flex;
    float     : right;
    margin-top: -20px;
}

.form .right .dk-form-item-control {
    float: right;
}

.error {
    color: red
}

/*

.hader div {
        padding-left: 0 !important;
   }
.header div label {
    display: inline-flex;
}
.header div label a {
    margin-left    : 6px;
    text-decoration: none;
    font-size      : 0.8rem;
    font-weight    : bold;
    padding        : 3% 0;
}
.header div label a:link, 
.header div label a:visited {
    color: #666
}      
*/

.dk-form-item {
    margin: 0
}

.form .dk-form-item {
    margin-bottom: 0 !important;
    margin-top   : 24px;
}

.float-left {
    float: left;
}

.float-right {
    float: right
}

/* ACCOUNT */
.account .dk-card-header,
.settings .dk-card-header {
    padding: 8px;
}

.account .list-group-lg li,
.settings .list-group-lg li {
    padding-bottom: 6px;
    list-style    : none;
    border-bottom : 1px solid #d2ddec;
}

.account .dk-card-body,
.settings .dk-card-body {
    padding: 16px 10px !important;
}

.logout button {
    width      : auto;
    height     : 28px;
    padding-top: 0;
}

.settings {
    margin-top: 20px;
}

.settings .dk-radio-group-item {
    margin-left : 16px;
    display     : inline-flex;
    margin-right: 2px !important;
}

.schema-title .dk-form-item-label {
    white-space: nowrap;
}

.ms-Grid-row,
.dk-layout-content {
    margin: 0 !important
}

.fields,
.payload,
.document {
    border-top  : 1px solid #ccc;
    margin-left : -32px;
    padding     : 20px 32px;
    margin-right: -32px;
}


.fields div:first-child,
.payload div:first-child {
    display: flex;
    padding: 0 8px 8px 0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.integration .dk-form-item {
    margin-bottom: 24px !important;
    margin-top   : 0
}

.label-link {
    color : #2C7BE5;
    cursor: pointer;
}

.fields ul {
    list-style: none;
    margin    : 20px 6px;
}

.fields ul li {
    border-bottom : 1px solid #ccc;
    padding-bottom: 4px;
}

.add-ico,
.show-alternatives {
    width : 18px;
    height: 18px;
    cursor: pointer;
}

.show-alternatives {
    float: right;
}

.alternatives {
    height    : 300px;
    overflow-y: auto;
}

.fields-list {
    height    : 600px;
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #666;
    background-color  : #F5F5F5;
}

::-webkit-scrollbar {
    width           : 6px;
    height          : 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

.alternatives .dk-card-header {
    padding: 6px 4px 0 8px !important;
}

.dk-card.alternatives {
    margin-left: 20px;
}

.alternatives .dk-card-body {
    padding: 0 !important;
}

div.alternatives .dk-card-body ul {
    margin: 4px !important;
}

.template-actions-buttons {
    display    : flex;
    float      : right;
    padding-top: 8px;
}

.template .dk-form-item {
    margin-bottom: 14px !important;
    margin-top   : 0
}

.template-actions-buttons button:last-child {
    background-color: #FFF;
    margin-left     : 15px;
    color           : #2C7BE5;
}

.template .template-schema {
    clear     : both;
    margin-top: 68px;
}

.document div:first-child {
    text-align : right;
    padding-top: 6px;
    width      : 100%;
}

.template-actions-buttons.document {
    float: none !important;
}

.payload button {
    background-color: #FFF;
    float           : right;
    color           : #2C7BE5;
}

.payload-json {
    height          : 300px;
    overflow-y      : auto;
    margin-bottom   : 20px;
    background-color: #fff;
    padding         : 8px !important;
}